:root {
    --light-color-03: #E9F5DB;
    --light-color-02: #CFE1B9;
    --light-color-01: #B5C99A;
    --dark-color-03: #97A97C;
    --dark-color-02: #87986A;
    --dark-color-01: #718355;
    --darker: #485336;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--dark-color-02);
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

main {
    margin: 0;
    /* border: 2px solid #fff; */
}

/* =================== START OF EVENT SECTION =================== */

.info_section {
    display: block;
    /* border: 2px solid cyan; */
}

.article_01 {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 3rem;
    /* border: 2px solid green; */
}

.article_02 {
    display: block;
    width: 68%;
    margin: 0 auto;
    padding: 3rem;
    border-radius: 20px;
    /* border: 2px solid green; */
    background-color: var(--dark-color-01);
}

.info_title_02 {
    margin: 0 auto;
    font-size: 2rem;
    text-align: center;
}

.article_02 p {
    text-align: center;
}

.article_02 a {
    display: flex;
    justify-content: center;
    width: 20%;
    color: var(--darker);
    padding: 10px;
    margin: 0 auto;
    font-weight: 600;
    text-decoration: none;
    border: 2px solid var(--darker);
}

.article_02 a:hover {
    background-color: var(--dark-color-02);
}

.lil_info_div {
    display: block;
    /* justify-content: space-between; */
    width: 530px;
    height: 530px;
    border-radius: 20px;
    /* border: 2px solid red; */
    background-color: var(--dark-color-01);
}

.info_title {
    font-size: 2rem;
}

.lil_info_div_two {
    display: flex;
    justify-content: space-between;
}

.lil_info_div_two p {
    display: inline-block;
    width: 70%;
    height: fit-content;
    margin-top: 10%;
    /* border: 2px solid rebeccapurple; */
}

.lil_info_div_two img {
    width: 50%;
    margin-right: 8%;
}

/* =================== START OF EVENT SECTION =================== */

.events_section {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 5rem;
    /* border: 2px solid cyan; */
}

.event_details {
    width: 50%;
    padding: 2rem;
    /* border: 2px solid gray; */
}

.event_details>h2,
h1,
p {
    margin: 1.2rem 1rem;
    color: var(--darker);
    /* border: 2px solid purple; */
}

.event_details h2 {
    font-size: 1.25rem;
}

.event_details>h1 {
    font-size: 3rem;
    color: var(--dark-color-01);
}

.event_btn_div {
    display: flex;
    justify-content: start;
    padding: 10px;
    /* border: 1px solid #000; */
}

.event_btn {
    color: #fff;
    padding: 10px 16px;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid #000;
    background-color: #000;
}

.event_btn:hover {
    opacity: .85;
}

.event_img_div {
    width: 30%;
    height: 450px;
    /* border: 2px solid orange; */
}

.event_img_div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

/* =================== START OF CONTACT SECTION =================== */

/* .contact_section {
    border: 2px solid blue;
} */

/* =================== START OF FOOTER SECTION =================== */

footer {
    display: block;
    margin-top: 5%;
    padding: 3% 3% 0 3%;
    /* border: 2px solid cyan; */
    background-color: var(--dark-color-01);
}

.footer__container {
    display: flex;
    /* border: 2px solid green; */
}

.footer__links {
    width: 70%;
    display: grid;
    justify-content: center;
    padding: 40px 20px;
    grid-template-columns: 32% 32% 32%;
    column-gap: 20px;
    row-gap: 20px;
    /* border: 2px solid red; */
}

.grid-item {
    text-transform: uppercase;
    /* border: 1px solid #000; */
}

.grid-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.subscribe-div {
    width: 30%;
    padding: 10px;
    /* border: 2px solid blue; */
}

form {
    margin: 0;
}

label {
    width: 100%;
    color: var(--dark-color-03);
    font-size: 18px !important;
    font-weight: 700 !important;
    line-height: 20px;
    text-transform: uppercase;
    outline: none;
}

input {
    width: 100%;
    margin-top: 6%;
    margin-bottom: 16px;
    padding: 10px;
    line-height: 24px;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, .04);
}

input[type=submit] {
    width: 50%;
    color: #fff;
    padding: 10px 16px;
    font-weight: 700;
    text-align: center;
    border-radius: 25px;
    background-color: var(--dark-color-02);
    cursor: pointer;
}

input[type=submit]:hover {
    opacity: .85;
}

footer hr {
    width: 80%;
    margin: 0 auto;
    border-width: 0.5px;
}

.copyright-text {
    width: 80%;
    margin: 0 auto;
    font-size: small;
    padding: 40px 20px;
    text-align: center;
}